$color-black: #2c2c2c;
$color-white: #ffffff;
$color-gray: #a9a8a8;
$color-gray--light: #f0f0f0;
$color-brand: #cc0029;
$color-brand--accent: #fdbd48;
$color-red: #fd4848;
$color-green: #078800;
$color-blue--light: #eef1f6;
$color-blue--deep: #000938;

:root {
  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-gray: #{$color-gray};
  --color-gray--light: #{$color-gray--light};
  --color-brand: #{$color-brand};
  --color-brand--accent: #{$color-brand--accent};
  --color-red: #{$color-red};
  --color-green: #{$color-green};
  --color-blue--light: #{$color-blue--light};
  --color-blue--deep: #{$color-blue--deep};
}
::selection {
}
